In [2408]:
#Code for Data Mining and Cleaning of three data frames
#Code written by Zara Clacken

In [2409]:
#Import Packages
import warnings
warnings.filterwarnings('ignore')  
import numpy as np
import pandas as pd

In [2540]:
#Import Data Sets
educationraw = pd.read_csv('C:\\Users\zara\Documents/Data Science Portfolio_Zara Clacken/Raw Data/Student Race and Ethnicity.csv')
singleparentkidsraw = pd.read_excel('C:\\Users\zara\Documents/Data Science Portfolio_Zara Clacken/Raw Data/Children in single-parent families by race.xlsx')
povertyraw = pd.read_csv('C:\\Users\zara\Documents/Data Science Portfolio_Zara Clacken/Raw Data/Poverty by Race and Ethnicity.csv')

---

---

In [2411]:
#Clean and mine the data from the raw Student Race and Ethnicity Data Set 
educationraw

,ID IPEDS Race,IPEDS Race,ID Year,Year,Completions,Geography,ID Geography,Slug Geography,share
0,asian,Asian,2017,2017,298112,United States,01000US,united-states,0.061655
1,black,Black or African American,2017,2017,576612,United States,01000US,united-states,0.119254
2,hawaiian,Native Hawaiian or Other Pacific Islanders,2017,2017,14034,United States,01000US,united-states,0.002902
3,hispanic,Hispanic or Latino,2017,2017,786273,United States,01000US,united-states,0.162616
4,multiracial,Two or More Races,2017,2017,141479,United States,01000US,united-states,0.029260
5,native,American Indian or Alaska Native,2017,2017,33272,United States,01000US,united-states,0.006881
6,unknown,Unknown,2017,2017,220035,United States,01000US,united-states,0.045507
7,white,White,2017,2017,2765344,United States,01000US,united-states,0.571924
8,asian,Asian,2016,2016,284589,United States,01000US,united-states,0.059460
9,black,Black or African American,2016,2016,576255,United States,01000US,united-states,0.120399
10,hawaiian,Native Hawaiian or Other Pacific Islanders,2016,2016,13976,United States,01000US,united-states,0.002920
11,hispanic,Hispanic or Latino,2016,2016,740025,United States,01000US,united-states,0.154616
12,multiracial,Two or More Races,2016,2016,132024,United States,01000US,united-states,0.027584
13,native,American Indian or Alaska Native,2016,2016,33193,United States,01000US,united-states,0.006935
14,unknown,Unknown,2016,2016,238703,United States,01000US,united-states,0.049873
15,white,White,2016,2016,2767440,United States,01000US,united-states,0.578212
16,asian,Asian,2015,2015,273957,United States,01000US,united-states,0.057770
17,black,Black or African American,2015,2015,573638,United States,01000US,united-states,0.120964
18,hawaiian,Native Hawaiian or Other Pacific Islanders,2015,2015,14420,United States,01000US,united-states,0.003041
19,hispanic,Hispanic or Latino,2015,2015,687513,United States,01000US,united-states,0.144977
20,multiracial,Two or More Races,2015,2015,116276,United States,01000US,united-states,0.024519
21,native,American Indian or Alaska Native,2015,2015,33936,United States,01000US,united-states,0.007156
22,unknown,Unknown,2015,2015,252299,United States,01000US,united-states,0.053203
23,white,White,2015,2015,2790167,United States,01000US,united-states,0.588369
24,asian,Asian,2014,2014,264271,United States,01000US,united-states,0.056585
25,black,Black or African American,2014,2014,556705,United States,01000US,united-states,0.119201
26,hawaiian,Native Hawaiian or Other Pacific Islanders,2014,2014,14788,United States,01000US,united-states,0.003166
27,hispanic,Hispanic or Latino,2014,2014,638188,United States,01000US,united-states,0.136648
28,multiracial,Two or More Races,2014,2014,99685,United States,01000US,united-states,0.021344
29,native,American Indian or Alaska Native,2014,2014,34050,United States,01000US,united-states,0.007291
30,unknown,Unknown,2014,2014,270672,United States,01000US,united-states,0.057956
31,white,White,2014,2014,2791956,United States,01000US,united-states,0.597809
32,asian,Asian,2013,2013,257662,United States,01000US,united-states,0.056985
33,black,Black or African American,2013,2013,529285,United States,01000US,united-states,0.117059
34,hawaiian,Native Hawaiian or Other Pacific Islanders,2013,2013,14418,United States,01000US,united-states,0.003189
35,hispanic,Hispanic or Latino,2013,2013,589993,United States,01000US,united-states,0.130485
36,multiracial,Two or More Races,2013,2013,78724,United States,01000US,united-states,0.017411
37,native,American Indian or Alaska Native,2013,2013,34147,United States,01000US,united-states,0.007552
38,unknown,Unknown,2013,2013,263664,United States,01000US,united-states,0.058313
39,white,White,2013,2013,2753647,United States,01000US,united-states,0.609006
40,asian,Asian,2012,2012,248208,United States,01000US,united-states,0.055863
41,black,Black or African American,2012,2012,516275,United States,01000US,united-states,0.116195
42,hawaiian,Native Hawaiian or Other Pacific Islanders,2012,2012,13635,United States,01000US,united-states,0.003069
43,hispanic,Hispanic or Latino,2012,2012,550949,United States,01000US,united-states,0.123999
44,multiracial,Two or More Races,2012,2012,61313,United States,01000US,united-states,0.013799
45,native,American Indian or Alaska Native,2012,2012,33366,United States,01000US,united-states,0.007510
46,unknown,Unknown,2012,2012,291882,United States,01000US,united-states,0.065692
47,white,White,2012,2012,2727541,United States,01000US,united-states,0.613873

In [2412]:
len(educationraw)

48

In [2413]:
#Is the data for the entire nation?
educationraw.Geography.unique()

array(['United States'], dtype=object)

In [2414]:
#Print out the Columns List
educationraw.columns

Index(['ID IPEDS Race', 'IPEDS Race', 'ID Year', 'Year', 'Completions',
       'Geography', 'ID Geography', 'Slug Geography', 'share'],
      dtype='object')

In [2415]:
#Drop Undesired Columns
education = educationraw.drop(['ID IPEDS Race','ID Year',
       'Geography', 'ID Geography', 'Slug Geography', 'share'], axis =1)
education.head(6)

                                   IPEDS Race  Year  Completions
0                                       Asian  2017       298112
1                   Black or African American  2017       576612
2  Native Hawaiian or Other Pacific Islanders  2017        14034
3                          Hispanic or Latino  2017       786273
4                           Two or More Races  2017       141479
5            American Indian or Alaska Native  2017        33272

In [2416]:
#Change column names
education.columns = ['Race', 'Year', 'DegreesCompleted']
education.head(7)

                                         Race  Year  DegreesCompleted
0                                       Asian  2017            298112
1                   Black or African American  2017            576612
2  Native Hawaiian or Other Pacific Islanders  2017             14034
3                          Hispanic or Latino  2017            786273
4                           Two or More Races  2017            141479
5            American Indian or Alaska Native  2017             33272
6                                     Unknown  2017            220035

In [2417]:
#Create New Column for Percentage of a Year's Total Population 
education['PercentofTotalDegrees'] = " "
education.head(3)

,Race,Year,DegreesCompleted,PercentofTotalDegrees
0,Asian,2017,298112,
1,Black or African American,2017,576612,
2,Native Hawaiian or Other Pacific Islanders,2017,14034,

In [2418]:
#What are the unique races?
education.Race.unique().tolist()

['Asian',
 'Black or African American',
 'Native Hawaiian or Other Pacific Islanders',
 'Hispanic or Latino',
 'Two or More Races',
 'American Indian or Alaska Native',
 'Unknown',
 'White']

In [2419]:
#Drop Rows where Race is Unknown 
index_Unknown = education[education.Race == 'Unknown'].index
education.drop(index_Unknown, inplace = True)
education.Race.unique().tolist()

['Asian',
 'Black or African American',
 'Native Hawaiian or Other Pacific Islanders',
 'Hispanic or Latino',
 'Two or More Races',
 'American Indian or Alaska Native',
 'White']

In [2420]:
len(education)

42

In [2421]:
education.Year.unique().tolist()

[2017, 2016, 2015, 2014, 2013, 2012]

In [2422]:
#Drop Rows with 2012 as the Year
index_year = education[education.Year == 2012].index
education.drop(index_year, inplace = True)
education.Year.unique().tolist()

[2017, 2016, 2015, 2014, 2013]

In [2423]:
len(education)

35

In [2424]:
#Total Number of Degrees for All Races Per Year

yearlist = [2017, 2016, 2015, 2014, 2013]

for Y in yearlist:
    S = education[education.Year == Y].DegreesCompleted.sum()
    print(Y,':',S, ',', end =' ')

2017 : 4615126 , 2016 : 4547502 , 2015 : 4489907 , 2014 : 4399643 , 2013 : 4257876 ,

In [2425]:
Sum1 = {2017 : 4615126 , 2016 : 4547502 , 2015 : 4489907 , 2014 : 4399643 , 2013 : 4257876 }

In [2426]:
#Create a function, using the dictionary, to calculate percentages 
yearlist = [2017, 2016, 2015, 2014, 2013]
percentages = []
for Y in yearlist:
    percentages.append(100*(education[education.Year == Y].DegreesCompleted/Sum1[Y]))
D = np.array(percentages).reshape(35,1)
D

array([[ 6.45945528],
       [12.49396008],
       [ 0.30408704],
       [17.03686963],
       [ 3.06555011],
       [ 0.72093373],
       [59.91914414],
       [ 6.25813908],
       [12.67190207],
       [ 0.30733356],
       [16.27321989],
       [ 2.90322027],
       [ 0.72991722],
       [60.8562679 ],
       [ 6.10161859],
       [12.77616663],
       [ 0.32116478],
       [15.3124107 ],
       [ 2.58971956],
       [ 0.75582857],
       [62.14309116],
       [ 6.00664645],
       [12.65341302],
       [ 0.33611818],
       [14.50544965],
       [ 2.26575202],
       [ 0.77392643],
       [63.45869426],
       [ 6.05142094],
       [12.43072837],
       [ 0.33861954],
       [13.85650968],
       [ 1.84890307],
       [ 0.80197263],
       [64.67184577]])

In [2427]:
#Insert Percentages into data frame

In [2428]:
education.columns.tolist()

['Race', 'Year', 'DegreesCompleted', 'PercentofTotalDegrees']

In [2429]:
education['PercentofTotalDegrees'] = D
education.head(7)

,Race,Year,DegreesCompleted,PercentofTotalDegrees
0,Asian,2017,298112,6.459455
1,Black or African American,2017,576612,12.493960
2,Native Hawaiian or Other Pacific Islanders,2017,14034,0.304087
3,Hispanic or Latino,2017,786273,17.036870
4,Two or More Races,2017,141479,3.065550
5,American Indian or Alaska Native,2017,33272,0.720934
7,White,2017,2765344,59.919144

In [2430]:
#Merge Asian plus Native Hawaiian or Other Pacific Islanders Degrees Completed into Asian and Pacific Islander Degrees Completed

In [2431]:
#Sum Asian plus Native Hawaiian or Other Pacific Islanders Degrees Completed 
yearlist = education.Year.unique()
AADegrees = []
PIDegrees = []
for Y in yearlist:
    AADegrees.append(np.array(education[education.Year == Y][education.Race == 'Asian'].DegreesCompleted))
    PIDegrees.append(np.array(education[education.Year == Y][education.Race == 'Native Hawaiian or Other Pacific Islanders'].DegreesCompleted))
    AAPIDegrees = np.add(AADegrees,PIDegrees)
AAPIDegrees.tolist()

[[312146], [298565], [288377], [279059], [272080]]

In [2432]:
#Create an AAPI list to place into dictionary  

a = '"Asian and Pacific Islander"'
def AAPIfunc():
    counter = 0
    while counter < 5:
            print(counter,':', a , ',', end = ' ')
            counter = counter + 1 
AAPIfunc()

0 : "Asian and Pacific Islander" , 1 : "Asian and Pacific Islander" , 2 : "Asian and Pacific Islander" , 3 : "Asian and Pacific Islander" , 4 : "Asian and Pacific Islander" ,

In [2433]:
# Dictionary for AAPI to enter into Race column
AAPIdict = {0 : "Asian and Pacific Islander" , 1 : "Asian and Pacific Islander" , 2 : "Asian and Pacific Islander" , 
            3 : "Asian and Pacific Islander" , 4 : "Asian and Pacific Islander" }

In [2434]:
#Create a Year list to put into dictionary 
years = education.Year.unique().tolist()
def yearfunc():
    counter = 0
    while counter < 5: 
            for y in years:
                    print(counter, ':', y,',', end = ' ')
                    counter = counter +1 
yearfunc()

0 : 2017 , 1 : 2016 , 2 : 2015 , 3 : 2014 , 4 : 2013 ,

In [2435]:
#Dictionary for years
Yeardict = {0 : 2017 , 1 : 2016 , 2 : 2015 , 3 : 2014 , 4 : 2013}

In [2436]:
#List for Degrees Completed to put into dictionary
degrees = AAPIDegrees.tolist()
def degreefunc():
    counter = 0
    while counter < 5: 
            for d in degrees:
                    print(counter, ':', d,',', end = ' ')
                    counter = counter +1 
degreefunc()

0 : [312146] , 1 : [298565] , 2 : [288377] , 3 : [279059] , 4 : [272080] ,

In [2437]:
#Dictionary for degrees
Degreedict = {0 : 312146 , 1 : 298565 , 2 : 288377 , 3 : 279059 , 4 : 272080}

In [2438]:
#Calculate AAPI Percentages
AAPercent = []
PIPercent = []
for Y in yearlist:
    AAPercent.append(np.array(education[education.Year == Y][education.Race == 'Asian'].PercentofTotalDegrees))
    PIPercent.append(np.array(education[education.Year == Y][education.Race == 'Native Hawaiian or Other Pacific Islanders'].PercentofTotalDegrees))
    AAPIPercent = np.add(AAPercent,PIPercent)
AAPIPercent.tolist()

[[6.763542317154505],
 [6.56547264850021],
 [6.422783367227873],
 [6.3427646288573865],
 [6.390040480277021]]

In [2439]:
#List for percentages
percentages = AAPIPercent.tolist()
def percentfunc():
    counter = 0
    while counter < 5: 
            for p in percentages:
                print(counter, ':', p,',', end = ' ')
                counter = counter +1 
percentfunc()

0 : [6.763542317154505] , 1 : [6.56547264850021] , 2 : [6.422783367227873] , 3 : [6.3427646288573865] , 4 : [6.390040480277021] ,

In [2440]:
#Dictionary for Percentages
Percentdict = {0 : 6.763542317154505 , 1 : 6.56547264850021 , 2 : 6.422783367227873 , 3 : 6.3427646288573865 , 4 : 6.390040480277021}

In [2441]:
#Test dictionaries
#AAPIdict[2]
#Yeardict[2]
#Degreedict[2]
#Percentdict[2]

In [2442]:
education.columns.tolist()

['Race', 'Year', 'DegreesCompleted', 'PercentofTotalDegrees']

In [2443]:
#Insert New Rows for AAPI using Dictionaries 
numberlist = [0,1,2,3,4]
for n in numberlist:
    new_row = {'Race':AAPIdict[n], 'Year':Yeardict[n], 'DegreesCompleted':Degreedict[n], 'PercentofTotalDegrees':Percentdict[n]}
    education = education.append(new_row, ignore_index=True)
education.tail(6)

                          Race  Year  DegreesCompleted  PercentofTotalDegrees
34                       White  2013           2753647              64.671846
35  Asian and Pacific Islander  2017            312146               6.763542
36  Asian and Pacific Islander  2016            298565               6.565473
37  Asian and Pacific Islander  2015            288377               6.422783
38  Asian and Pacific Islander  2014            279059               6.342765
39  Asian and Pacific Islander  2013            272080               6.390040

In [2444]:
education.Race.unique()

array(['Asian', 'Black or African American',
       'Native Hawaiian or Other Pacific Islanders', 'Hispanic or Latino',
       'Two or More Races', 'American Indian or Alaska Native', 'White',
       'Asian and Pacific Islander'], dtype=object)

In [2445]:
#Drop original Asian Rows and Native Hawaiian or Other Pacific Islanders rows
index_Asian = education[education.Race == 'Asian'].index
index_PacificHawaiin = education[education.Race == 'Native Hawaiian or Other Pacific Islanders'].index  
education.drop(index_Asian, inplace = True)
education.drop(index_PacificHawaiin, inplace = True)

#Check to see if the above races have been dropped
education.Race.unique()

array(['Black or African American', 'Hispanic or Latino',
       'Two or More Races', 'American Indian or Alaska Native', 'White',
       'Asian and Pacific Islander'], dtype=object)

In [2446]:
#Change the names of the other races 
education.Race = education.Race.replace ('Black or African American','Black')

In [2447]:
originalracelist = ['Black or African American','Hispanic or Latino','Two or More Races',
                    'American Indian or Alaska Native', 'White','Asian and Pacific Islander'] 
newracelist = ['Black','Hispanic','Multiracial','Native American','White','Asian and Pacific Islander']

In [2448]:
#original race list function to put into dictionary
def ogracefunc():
    counter = 0
    while counter < 6: 
            for o in originalracelist:
                    print(counter, ':', o,',', end = ' ')
                    counter = counter +1 
ogracefunc()

0 : Black or African American , 1 : Hispanic or Latino , 2 : Two or More Races , 3 : American Indian or Alaska Native , 4 : White , 5 : Asian and Pacific Islander ,

In [2449]:
#new race list function to put into dictionary 
def newracefunc():
    counter = 0
    while counter < 6: 
            for r in newracelist:
                    print(counter, ':', r,',', end = ' ')
                    counter = counter +1 
newracefunc()

0 : Black , 1 : Hispanic , 2 : Multiracial , 3 : Native American , 4 : White , 5 : Asian and Pacific Islander ,

In [2450]:
#Use Dictionaries and a for loop to replace the original race names with new ones 
ogracedict = {0 : 'Black or African American' , 1 : 'Hispanic or Latino' , 2 : 'Two or More Races' , 3 : 'American Indian or Alaska Native' , 
              4 : 'White' , 5 : 'Asian and Pacific Islander' }
newracedict ={0 : 'Black' , 1 : 'Hispanic' , 2 : 'Multiracial' , 3 : 'Native American' , 4 : 'White' , 5 : 'Asian and Pacific Islander'}
for n in numberlist:
    education.Race = education.Race.replace(ogracedict[n], newracedict[n])
education.Race.unique()

array(['Black', 'Hispanic', 'Multiracial', 'Native American', 'White',
       'Asian and Pacific Islander'], dtype=object)

In [2451]:
#Round Percent Values to Two Places 
education['PercentofTotalDegrees'] = np.round(education['PercentofTotalDegrees'],2)

In [2452]:
#Rename Columns again for SQL Export
education.columns = ['Race', 'Year', 'Degrees Completed', 'Percent of Total Degrees']

In [2453]:
#Final data frame
education =education.sort_values(by=["Year","Race"], ascending = True)
education

,Race,Year,Degrees Completed,Percent of Total Degrees
39,Asian and Pacific Islander,2013,272080,6.39
29,Black,2013,529285,12.43
31,Hispanic,2013,589993,13.86
32,Multiracial,2013,78724,1.85
33,Native American,2013,34147,0.80
34,White,2013,2753647,64.67
38,Asian and Pacific Islander,2014,279059,6.34
22,Black,2014,556705,12.65
24,Hispanic,2014,638188,14.51
25,Multiracial,2014,99685,2.27
26,Native American,2014,34050,0.77
27,White,2014,2791956,63.46
37,Asian and Pacific Islander,2015,288377,6.42
15,Black,2015,573638,12.78
17,Hispanic,2015,687513,15.31
18,Multiracial,2015,116276,2.59
19,Native American,2015,33936,0.76
20,White,2015,2790167,62.14
36,Asian and Pacific Islander,2016,298565,6.57
8,Black,2016,576255,12.67
10,Hispanic,2016,740025,16.27
11,Multiracial,2016,132024,2.90
12,Native American,2016,33193,0.73
13,White,2016,2767440,60.86
35,Asian and Pacific Islander,2017,312146,6.76
1,Black,2017,576612,12.49
3,Hispanic,2017,786273,17.04
4,Multiracial,2017,141479,3.07
5,Native American,2017,33272,0.72
6,White,2017,2765344,59.92

In [2454]:
len(education)

30

---

---

In [2455]:
#Clean and mine the data for Single-Parent Families by Race Data Frame

In [2456]:
singleparentkidsraw

,LocationType,Location,Race,TimeFrame,DataFormat,Data
0,Nation,United States,American Indian,2005,Percent,0.49
1,Nation,United States,Asian and Pacific Islander,2005,Percent,0.17
2,Nation,United States,Black or African American,2005,Percent,0.65
3,Nation,United States,Hispanic or Latino,2005,Percent,0.36
4,Nation,United States,Non-Hispanic White,2005,Percent,0.23
...,...,...,...,...,...,...
11077,Territory,Puerto Rico,Non-Hispanic White,2019,Number,S
11078,Territory,Puerto Rico,Hispanic or Latino,2019,Number,341000
11079,Territory,Puerto Rico,Black or African American,2019,Number,44000
11080,Territory,Puerto Rico,Asian and Pacific Islander,2019,Number,S
11081,Territory,Puerto Rico,American Indian,2019,Number,S

In [2457]:
#Column Names?
singleparentkidsraw.columns

Index(['LocationType', 'Location', 'Race', 'TimeFrame', 'DataFormat', 'Data'], dtype='object')

In [2458]:
#Number of Rows?
len(singleparentkidsraw)

11082

In [2459]:
#Change Column Names
singleparentkidsraw.columns = ['LocationType', 'Location', 'Race', 'Year', 'DataFormat', 'TotalChildren']
singleparentkidsraw.columns

Index(['LocationType', 'Location', 'Race', 'Year', 'DataFormat',
       'TotalChildren'],
      dtype='object')

In [2460]:
#What are the Unique Values of each Column?
singleparentkidsraw.LocationType.unique()

array(['Nation', 'State', 'City', 'Territory'], dtype=object)

In [2461]:
singleparentkidsraw.DataFormat.unique()

array(['Percent', 'Number'], dtype=object)

In [2462]:
singleparentkidsraw.Race.unique()

array(['American Indian', 'Asian and Pacific Islander',
       'Black or African American', 'Hispanic or Latino',
       'Non-Hispanic White', 'Two or more races', 'Total'], dtype=object)

In [2463]:
singleparentkidsraw.Year.unique()

array([2005, 2006, 2007, 2008, 2013, 2018, 2009, 2010, 2015, 2011, 2012,
       2014, 2016, 2017, 2019], dtype=int64)

In [2464]:
#Drop LocationType, Location, DataFormat, and Data Columns
#Filter Data Set to show the years 2010-2019 

YearFilter1 = singleparentkidsraw.Year > 2009  
YearFilter2 = singleparentkidsraw.Year < 2020
FormatFilter = singleparentkidsraw.DataFormat == 'Number'
LocationFilter = singleparentkidsraw.LocationType == 'Nation'
TotalFilter = singleparentkidsraw.Race != 'Total'

singleparentkids = singleparentkidsraw[YearFilter1][YearFilter2][FormatFilter][LocationFilter][TotalFilter].drop(['LocationType','Location','DataFormat'], axis = 1)

singleparentkids.tail(11)

                           Race  Year TotalChildren
184          Non-Hispanic White  2017       8623000
185          Hispanic or Latino  2017       7283000
186   Black or African American  2017       6123000
187  Asian and Pacific Islander  2017        556000
188             American Indian  2017        351000
203          Non-Hispanic White  2019       8479000
204          Hispanic or Latino  2019       7339000
205   Black or African American  2019       5988000
206  Asian and Pacific Islander  2019        549000
208           Two or more races  2019       1923000
209             American Indian  2019        341000

In [2465]:
#Race Values?
singleparentkids.Race.unique()

array(['American Indian', 'Asian and Pacific Islander',
       'Black or African American', 'Hispanic or Latino',
       'Non-Hispanic White', 'Two or more races'], dtype=object)

In [2466]:
#Year Values the Same?
singleparentkids.Year.unique()

array([2013, 2018, 2010, 2011, 2015, 2012, 2014, 2016, 2017, 2019],
      dtype=int64)

In [2467]:
#How many rows in data frame now?
len(singleparentkids)

60

In [2468]:
#Check Variable Data Types
singleparentkids.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 63 to 209
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Race           60 non-null     object
 1   Year           60 non-null     int64
 2   TotalChildren  60 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.9+ KB

In [2469]:
#Change Variable Data Types
singleparentkids.Year = singleparentkids.Year.astype('category')
singleparentkids.Race = singleparentkids.Race.astype('category')
singleparentkids.TotalChildren = singleparentkids.TotalChildren.astype('int64')

In [2470]:
#Check Data Type Changes
singleparentkids.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 63 to 209
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Race           60 non-null     category
 1   Year           60 non-null     category
 2   TotalChildren  60 non-null     int64
dtypes: category(2), int64(1)
memory usage: 1.6 KB

In [2471]:
singleparentkids.head(6)

                          Race  Year  TotalChildren
63             American Indian  2013         329000
64  Asian and Pacific Islander  2013         557000
65   Black or African American  2013        6427000
66          Hispanic or Latino  2013        7044000
67          Non-Hispanic White  2013        9289000
68           Two or more races  2013        1758000

In [2472]:
print(singleparentkids.Race.unique().tolist(),end = ' ')

['American Indian', 'Asian and Pacific Islander', 'Black or African American', 'Hispanic or Latino', 'Non-Hispanic White', 'Two or more races']

In [2473]:
singleparentkids.Year.unique()

[2013, 2018, 2010, 2011, 2015, 2012, 2014, 2016, 2017, 2019]
Categories (10, int64): [2013, 2018, 2010, 2011, ..., 2014, 2016, 2017, 2019]

In [2474]:
#Drop Years outside of 2013-2017 
dropyearlist = [2010, 2011, 2012, 2018, 2019]
for y in dropyearlist:
    index_years = singleparentkids[singleparentkids.Year == y].index
    singleparentkids.drop(index_years, inplace = True)
sorted(singleparentkids.Year.unique().tolist())

[2013, 2014, 2015, 2016, 2017]

In [2475]:
#Percentage Each Race is of Total Single Parent Children

In [2476]:
#Total Number of Children of All Races Per Year

yearlist = [2013, 2014, 2015, 2016, 2017]

for Y in yearlist:
    S = singleparentkids[singleparentkids.Year == Y].TotalChildren.sum()
    print(Y,':',S, ',', end =' ')

2013 : 25404000 , 2014 : 25469000 , 2015 : 25216000 , 2016 : 25088000 , 2017 : 24823000 ,

In [2477]:
#Create a Dictionary For the Sums 
Sums = {2013 : 25404000 , 2014 : 25469000 , 2015 : 25216000 , 2016 : 25088000 , 2017 : 24823000} 
Sums[2015]

25216000

In [2478]:
#Create New Column for Percentage of a Year's Total Population 
singleparentkids['PercentofTotalChildren'] = " "
singleparentkids

                           Race  Year  TotalChildren PercentofTotalChildren
63              American Indian  2013         329000
64   Asian and Pacific Islander  2013         557000
65    Black or African American  2013        6427000
66           Hispanic or Latino  2013        7044000
67           Non-Hispanic White  2013        9289000
68            Two or more races  2013        1758000
127           Two or more races  2015        1804000
128          Non-Hispanic White  2015        8998000
129          Hispanic or Latino  2015        7180000
130   Black or African American  2015        6333000
131  Asian and Pacific Islander  2015         568000
132             American Indian  2015         333000
154             American Indian  2014         341000
155  Asian and Pacific Islander  2014         578000
156   Black or African American  2014        6382000
157          Hispanic or Latino  2014        7190000
158          Non-Hispanic White  2014        9181000
159           Two or more races  2014        1797000
176           Two or more races  2016        1900000
177          Non-Hispanic White  2016        8766000
178          Hispanic or Latino  2016        7230000
179   Black or African American  2016        6281000
180  Asian and Pacific Islander  2016         572000
181             American Indian  2016         339000
183           Two or more races  2017        1887000
184          Non-Hispanic White  2017        8623000
185          Hispanic or Latino  2017        7283000
186   Black or African American  2017        6123000
187  Asian and Pacific Islander  2017         556000
188             American Indian  2017         351000

In [2479]:
len(singleparentkids)

30

In [2480]:
#Unique Races
singleparentkids.Race.unique().tolist()

['American Indian',
 'Asian and Pacific Islander',
 'Black or African American',
 'Hispanic or Latino',
 'Non-Hispanic White',
 'Two or more races']

In [2481]:
#Replace American Indian with Native American 
singleparentkids.Race = singleparentkids.Race.replace('American Indian','Native American')
#Replace Non-Hispanic White with White
singleparentkids.Race = singleparentkids.Race.replace ('Non-Hispanic White','White')
#Replace Two or more races with Multiracial
singleparentkids.Race = singleparentkids.Race.replace ('Two or more races','Multiracial')
#Replace Hispanic or Latino with Hispanic
singleparentkids.Race = singleparentkids.Race.replace ('Hispanic or Latino','Hispanic')
#Replace Black or African-American with Black
singleparentkids.Race = singleparentkids.Race.replace ('Black or African American','Black')

In [2482]:
#Sort Poverty Data Frame Values
singleparentkids = singleparentkids.sort_values(by=['Year','Race',], ascending=True)

In [2483]:
#Create a function, using the dictionary, to calculate percentages 
yearlist = [2013, 2014, 2015, 2016, 2017]
import numpy as np
percentages = []
for Y in yearlist:
    percentages.append(100*(singleparentkids[singleparentkids.Year == Y].TotalChildren/Sums[Y]))
P = np.array(percentages).reshape(30,1)
P

array([[ 1.29507164],
       [ 2.1925681 ],
       [25.29916549],
       [27.72791686],
       [36.56510786],
       [ 6.92017005],
       [ 1.33888256],
       [ 2.26942558],
       [25.05791354],
       [28.23039774],
       [36.04774432],
       [ 7.05563626],
       [ 1.3205901 ],
       [ 2.25253807],
       [25.11500635],
       [28.47398477],
       [35.68369289],
       [ 7.15418782],
       [ 1.35124362],
       [ 2.27997449],
       [25.03587372],
       [28.81855867],
       [34.94100765],
       [ 7.57334184],
       [ 1.4140112 ],
       [ 2.2398582 ],
       [24.66663981],
       [29.33972525],
       [34.73794465],
       [ 7.60182089]])

In [2484]:
#Insert Percent Column into Data Frame
singleparentkids['PercentofTotalChildren'] = P 
singleparentkids

                           Race  Year  TotalChildren  PercentofTotalChildren
63              Native American  2013         329000                1.295072
64   Asian and Pacific Islander  2013         557000                2.192568
65                        Black  2013        6427000               25.299165
66                     Hispanic  2013        7044000               27.727917
67                        White  2013        9289000               36.565108
68                  Multiracial  2013        1758000                6.920170
154             Native American  2014         341000                1.338883
155  Asian and Pacific Islander  2014         578000                2.269426
156                       Black  2014        6382000               25.057914
157                    Hispanic  2014        7190000               28.230398
158                       White  2014        9181000               36.047744
159                 Multiracial  2014        1797000                7.055636
132             Native American  2015         333000                1.320590
131  Asian and Pacific Islander  2015         568000                2.252538
130                       Black  2015        6333000               25.115006
129                    Hispanic  2015        7180000               28.473985
128                       White  2015        8998000               35.683693
127                 Multiracial  2015        1804000                7.154188
181             Native American  2016         339000                1.351244
180  Asian and Pacific Islander  2016         572000                2.279974
179                       Black  2016        6281000               25.035874
178                    Hispanic  2016        7230000               28.818559
177                       White  2016        8766000               34.941008
176                 Multiracial  2016        1900000                7.573342
188             Native American  2017         351000                1.414011
187  Asian and Pacific Islander  2017         556000                2.239858
186                       Black  2017        6123000               24.666640
185                    Hispanic  2017        7283000               29.339725
184                       White  2017        8623000               34.737945
183                 Multiracial  2017        1887000                7.601821

In [2485]:
#Replace Black or African-American with Black
#singleparentkids.Race = singleparentkids.Race.replace ('Black or African American','Black')
#singleparentkids

In [2486]:
singleparentkids = singleparentkids.sort_values(by=['Year','Race'], ascending=True)

In [2487]:
singleparentkids.columns

Index(['Race', 'Year', 'TotalChildren', 'PercentofTotalChildren'], dtype='object')

In [2488]:
#Round Percent Values to Two Places
singleparentkids['PercentofTotalChildren'] =singleparentkids['PercentofTotalChildren'].round(2)

In [2489]:
#Change Column Names Again For Export to be joined with other dataframes in SQL
singleparentkids.columns = ['Race', 'Year', 'Number of Children (Single Parent Homes)', 'Percent of Total Children (Single Parent Homes)']

In [2490]:
#Final Data Frame
singleparentkids

,Race,Year,Number of Children (Single Parent Homes),Percent of Total Children (Single Parent Homes)
63,Native American,2013,329000,1.30
64,Asian and Pacific Islander,2013,557000,2.19
65,Black,2013,6427000,25.30
66,Hispanic,2013,7044000,27.73
67,White,2013,9289000,36.57
68,Multiracial,2013,1758000,6.92
154,Native American,2014,341000,1.34
155,Asian and Pacific Islander,2014,578000,2.27
156,Black,2014,6382000,25.06
157,Hispanic,2014,7190000,28.23
158,White,2014,9181000,36.05
159,Multiracial,2014,1797000,7.06
132,Native American,2015,333000,1.32
131,Asian and Pacific Islander,2015,568000,2.25
130,Black,2015,6333000,25.12
129,Hispanic,2015,7180000,28.47
128,White,2015,8998000,35.68
127,Multiracial,2015,1804000,7.15
181,Native American,2016,339000,1.35
180,Asian and Pacific Islander,2016,572000,2.28
179,Black,2016,6281000,25.04
178,Hispanic,2016,7230000,28.82
177,White,2016,8766000,34.94
176,Multiracial,2016,1900000,7.57
188,Native American,2017,351000,1.41
187,Asian and Pacific Islander,2017,556000,2.24
186,Black,2017,6123000,24.67
185,Hispanic,2017,7283000,29.34
184,White,2017,8623000,34.74
183,Multiracial,2017,1887000,7.60

In [2491]:
len(singleparentkids)

30

---

---

In [2492]:
#Clean Poverty by Race and Ethnicity data frame

In [2493]:
povertyraw

,ID Race,Race,ID Year,Year,ID Poverty Status,Poverty Status,Poverty Population,Poverty Population Margin of Error(Moe),Geography,ID Geography,Slug Geography,share
0,1,White,2013,2013,0,Income In The Past 12 Months Below Poverty Level,29701062,97115.895530,United States,01000US,united-states,0.479823
1,1,White,2014,2014,0,Income In The Past 12 Months Below Poverty Level,29193983,92676.176460,United States,01000US,united-states,0.476341
2,1,White,2015,2015,0,Income In The Past 12 Months Below Poverty Level,28027149,95135.243000,United States,01000US,united-states,0.477800
3,1,White,2016,2016,0,Income In The Past 12 Months Below Poverty Level,26653418,92998.998830,United States,01000US,united-states,0.475246
4,1,White,2017,2017,0,Income In The Past 12 Months Below Poverty Level,25668489,89754.419970,United States,01000US,united-states,0.477490
5,1,White,2018,2018,0,Income In The Past 12 Months Below Poverty Level,25230693,90255.224380,United States,01000US,united-states,0.477151
6,9,Hispanic,2013,2013,0,Income In The Past 12 Months Below Poverty Level,13089210,60768.446300,United States,01000US,united-states,0.211457
7,9,Hispanic,2014,2014,0,Income In The Past 12 Months Below Poverty Level,13079584,60525.658200,United States,01000US,united-states,0.213412
8,9,Hispanic,2015,2015,0,Income In The Past 12 Months Below Poverty Level,12505613,63334.284890,United States,01000US,united-states,0.213193
9,9,Hispanic,2016,2016,0,Income In The Past 12 Months Below Poverty Level,11814468,61008.833560,United States,01000US,united-states,0.210659
10,9,Hispanic,2017,2017,0,Income In The Past 12 Months Below Poverty Level,11173521,60557.196800,United States,01000US,united-states,0.207852
11,9,Hispanic,2018,2018,0,Income In The Past 12 Months Below Poverty Level,11025445,64930.124110,United States,01000US,united-states,0.208508
12,2,Black,2013,2013,0,Income In The Past 12 Months Below Poverty Level,10538290,54162.147670,United States,01000US,united-states,0.170247
13,2,Black,2014,2014,0,Income In The Past 12 Months Below Poverty Level,10434389,55886.169110,United States,01000US,united-states,0.170252
14,2,Black,2015,2015,0,Income In The Past 12 Months Below Poverty Level,9905872,55994.616540,United States,01000US,united-states,0.168873
15,2,Black,2016,2016,0,Income In The Past 12 Months Below Poverty Level,9366792,55843.164860,United States,01000US,united-states,0.167015
16,2,Black,2017,2017,0,Income In The Past 12 Months Below Poverty Level,9122033,58930.514780,United States,01000US,united-states,0.169690
17,2,Black,2018,2018,0,Income In The Past 12 Months Below Poverty Level,8971239,58040.756140,United States,01000US,united-states,0.169660
18,6,Other,2013,2013,0,Income In The Past 12 Months Below Poverty Level,3913285,37953.370760,United States,01000US,united-states,0.063219
19,6,Other,2014,2014,0,Income In The Past 12 Months Below Poverty Level,3852708,34912.027150,United States,01000US,united-states,0.062862
20,6,Other,2016,2016,0,Income In The Past 12 Months Below Poverty Level,3636589,36473.785010,United States,01000US,united-states,0.064842
21,6,Other,2015,2015,0,Income In The Past 12 Months Below Poverty Level,3633067,35206.187130,United States,01000US,united-states,0.061936
22,6,Other,2017,2017,0,Income In The Past 12 Months Below Poverty Level,3297488,35802.858130,United States,01000US,united-states,0.061340
23,6,Other,2018,2018,0,Income In The Past 12 Months Below Poverty Level,3211683,36561.480810,United States,01000US,united-states,0.060738
24,4,Asian,2014,2014,0,Income In The Past 12 Months Below Poverty Level,2048589,24063.112990,United States,01000US,united-states,0.033426
25,4,Asian,2015,2015,0,Income In The Past 12 Months Below Poverty Level,2037183,23934.671320,United States,01000US,united-states,0.034729
26,4,Asian,2016,2016,0,Income In The Past 12 Months Below Poverty Level,2026897,24268.235970,United States,01000US,united-states,0.036141
27,4,Asian,2013,2013,0,Income In The Past 12 Months Below Poverty Level,2002107,24052.733980,United States,01000US,united-states,0.032344
28,4,Asian,2017,2017,0,Income In The Past 12 Months Below Poverty Level,1975913,25155.367800,United States,01000US,united-states,0.036756
29,4,Asian,2018,2018,0,Income In The Past 12 Months Below Poverty Level,1957779,25319.865070,United States,01000US,united-states,0.037025
30,7,Two Or More,2014,2014,0,Income In The Past 12 Months Below Poverty Level,1855585,23913.116460,United States,01000US,united-states,0.030276
31,7,Two Or More,2013,2013,0,Income In The Past 12 Months Below Poverty Level,1847715,24310.483970,United States,01000US,united-states,0.029850
32,7,Two Or More,2016,2016,0,Income In The Past 12 Months Below Poverty Level,1801745,24964.943820,United States,01000US,united-states,0.032126
33,7,Two Or More,2015,2015,0,Income In The Past 12 Months Below Poverty Level,1782109,23752.483300,United States,01000US,united-states,0.030381
34,7,Two Or More,2017,2017,0,Income In The Past 12 Months Below Poverty Level,1741395,24587.959110,United States,01000US,united-states,0.032394
35,7,Two Or More,2018,2018,0,Income In The Past 12 Months Below Poverty Level,1739271,25307.417410,United States,01000US,united-states,0.032892
36,3,Native American,2014,2014,0,Income In The Past 12 Months Below Poverty Level,710293,12070.178950,United States,01000US,united-states,0.011589
37,3,Native American,2013,2013,0,Income In The Past 12 Months Below Poverty Level,706256,11663.144340,United States,01000US,united-states,0.011410
38,3,Native American,2016,2016,0,Income In The Past 12 Months Below Poverty Level,679202,12328.646030,United States,01000US,united-states,0.012111
39,3,Native American,2017,2017,0,Income In The Past 12 Months Below Poverty Level,670571,12211.456380,United States,01000US,united-states,0.012474
40,3,Native American,2015,2015,0,Income In The Past 12 Months Below Poverty Level,665980,11763.899860,United States,01000US,united-states,0.011353
41,3,Native American,2018,2018,0,Income In The Past 12 Months Below Poverty Level,640066,12403.676190,United States,01000US,united-states,0.012105
42,5,Pacific Islander,2014,2014,0,Income In The Past 12 Months Below Poverty Level,112840,5756.902379,United States,01000US,united-states,0.001841
43,5,Pacific Islander,2017,2017,0,Income In The Past 12 Months Below Poverty Level,107762,6045.481619,United States,01000US,united-states,0.002005
44,5,Pacific Islander,2016,2016,0,Income In The Past 12 Months Below Poverty Level,104353,5774.867011,United States,01000US,united-states,0.001861
45,5,Pacific Islander,2013,2013,0,Income In The Past 12 Months Below Poverty Level,102153,5402.719593,United States,01000US,united-states,0.001650
46,5,Pacific Islander,2015,2015,0,Income In The Past 12 Months Below Poverty Level,101717,5681.786603,United States,01000US,united-states,0.001734
47,5,Pacific Islander,2018,2018,0,Income In The Past 12 Months Below Poverty Level,101584,6289.814703,United States,01000US,united-states,0.001921

In [2494]:
#How many rows? 
len(povertyraw)

48

In [2495]:
#Column Names?
povertyraw.columns

Index(['ID Race', 'Race', 'ID Year', 'Year', 'ID Poverty Status',
       'Poverty Status', 'Poverty Population',
       'Poverty Population Margin of Error(Moe)', 'Geography', 'ID Geography',
       'Slug Geography', 'share'],
      dtype='object')

In [2496]:
#What are the Races?
povertyraw.Race.unique()

array(['White', 'Hispanic', 'Black', 'Other', 'Asian', 'Two Or More',
       'Native American', 'Pacific Islander'], dtype=object)

In [2497]:
#Drop Unnecessary Columns
#Remove Other Race to match the single home chart 

RaceFilter = povertyraw.Race != 'Other'

poverty = povertyraw[RaceFilter].drop(['ID Race','ID Year','ID Poverty Status','Poverty Status','Poverty Population Margin of Error(Moe)', 'Geography', 'ID Geography', 'Slug Geography'], axis = 1)

In [2498]:
#Columns of Data Frame poverty 
poverty.columns

Index(['Race', 'Year', 'Poverty Population', 'share'], dtype='object')

In [2499]:
#Unique Races
poverty.Race.unique()

array(['White', 'Hispanic', 'Black', 'Asian', 'Two Or More',
       'Native American', 'Pacific Islander'], dtype=object)

In [2500]:
#Rename the new data frame's columns
poverty.columns = ['Race', 'Year','PovertyPopulation', 'PercentofTotalPovertyPopulation']
poverty['PercentofTotalPovertyPopulation'] = " "
poverty

                Race  Year  PovertyPopulation PercentofTotalPovertyPopulation
0              White  2013           29701062
1              White  2014           29193983
2              White  2015           28027149
3              White  2016           26653418
4              White  2017           25668489
5              White  2018           25230693
6           Hispanic  2013           13089210
7           Hispanic  2014           13079584
8           Hispanic  2015           12505613
9           Hispanic  2016           11814468
10          Hispanic  2017           11173521
11          Hispanic  2018           11025445
12             Black  2013           10538290
13             Black  2014           10434389
14             Black  2015            9905872
15             Black  2016            9366792
16             Black  2017            9122033
17             Black  2018            8971239
24             Asian  2014            2048589
25             Asian  2015            2037183
26             Asian  2016            2026897
27             Asian  2013            2002107
28             Asian  2017            1975913
29             Asian  2018            1957779
30       Two Or More  2014            1855585
31       Two Or More  2013            1847715
32       Two Or More  2016            1801745
33       Two Or More  2015            1782109
34       Two Or More  2017            1741395
35       Two Or More  2018            1739271
36   Native American  2014             710293
37   Native American  2013             706256
38   Native American  2016             679202
39   Native American  2017             670571
40   Native American  2015             665980
41   Native American  2018             640066
42  Pacific Islander  2014             112840
43  Pacific Islander  2017             107762
44  Pacific Islander  2016             104353
45  Pacific Islander  2013             102153
46  Pacific Islander  2015             101717
47  Pacific Islander  2018             101584

In [2501]:
#What are the data types of each column? 
poverty.info('columns')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 47
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Race                             42 non-null     object
 1   Year                             42 non-null     int64
 2   PovertyPopulation                42 non-null     int64
 3   PercentofTotalPovertyPopulation  42 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.6+ KB

In [2502]:
#Change Data Types. Make Race and Year categorical variables.  
poverty.Race = poverty.Race.astype('category')
poverty.Year = poverty.Year.astype('category')
poverty.info('columns')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 47
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Race                             42 non-null     category
 1   Year                             42 non-null     category
 2   PovertyPopulation                42 non-null     int64
 3   PercentofTotalPovertyPopulation  42 non-null     object
dtypes: category(2), int64(1), object(1)
memory usage: 1.6+ KB

In [2503]:
poverty.Year.unique().tolist()

[2013, 2014, 2015, 2016, 2017, 2018]

In [2504]:
#Drop Rows with 2018
index_years = poverty[poverty.Year == 2018].index
poverty.drop(index_years, inplace = True)

In [2505]:
poverty.Year.unique().tolist()

[2013, 2014, 2015, 2016, 2017]

In [2506]:
#Sum Asian and Pacific Islander Populations
yearlist = [2013, 2014, 2015, 2016, 2017]
AAPop = []
PIPop = []
for Y in yearlist:
    AAPop.append(np.array(poverty[poverty.Year == Y][poverty.Race == 'Asian'].PovertyPopulation))
    PIPop.append(np.array(poverty[poverty.Year == Y][poverty.Race == 'Pacific Islander'].PovertyPopulation))
    AAPIPop = np.add(AAPop,PIPop)
AAPIPop.tolist()

[[2104260], [2161429], [2138900], [2131250], [2083675]]

In [2507]:
#Insert New Rows for Asian and Pacific Islanders combined

In [2508]:
#Create an AAPI Population list to enter into a dictionary
AAPIpoplist = [2104260, 2161429, 2138900, 2131250, 2083675]
def popfunc():
    counter = 0
    while counter < 5: 
            for p in AAPIpoplist:
                    print(counter, ':', p,',', end = ' ')
                    counter = counter +1 
popfunc()

0 : 2104260 , 1 : 2161429 , 2 : 2138900 , 3 : 2131250 , 4 : 2083675 ,

In [2509]:
#Create a dictionary for list AAPI 
AAPIdict = {0 : "Asian and Pacific Islander" , 1 : "Asian and Pacific Islander" , 2 : "Asian and Pacific Islander" ,
            3 : "Asian and Pacific Islander" , 4 : "Asian and Pacific Islander"}
#test the dictionary
AAPIdict[2]

'Asian and Pacific Islander'

In [2510]:
#Create a Year list to put into a dictionary for AAPI 
years = poverty.Year.unique().tolist()
def yearfunc():
    counter = 0
    while counter < 5: 
            for y in years:
                    print(counter, ':', y,',', end = ' ')
                    counter = counter +1 
yearfunc()

0 : 2013 , 1 : 2014 , 2 : 2015 , 3 : 2016 , 4 : 2017 ,

In [2511]:
#Define function to insert new AAPI rows into data frame
numberlist = [0,1,2,3,4]
AAPIdict = {0 : "Asian and Pacific Islander" , 1 : "Asian and Pacific Islander" , 2 : "Asian and Pacific Islander" ,
            3 : "Asian and Pacific Islander" , 4 : "Asian and Pacific Islander" , }
Yeardict = {0 : 2013 , 1 : 2014 , 2 : 2015 , 3 : 2016 , 4 : 2017}
Populationdict = {0 : 2104260 , 1 : 2161429 , 2 : 2138900 , 3 : 2131250 , 4 : 2083675}
#Percentdict = {0 : 4.17 , 1 : 4.28 , 2 : 4.24 , 3 : 4.23 , 4 : 4.13 }
#'PercentofTotalPovertyPopulation':Percentdict[n]

for n in numberlist:
    new_row = {'Race':AAPIdict[n], 'Year':Yeardict[n], 'PovertyPopulation':Populationdict[n]}
    poverty = poverty.append(new_row, ignore_index=True)

In [2512]:
#Replace Two or More with Multiracial
poverty.Race = poverty.Race.replace('Two Or More','Multiracial')

In [2513]:
#Drop original Asian and Pacific Islander Rows`

index_Asian = poverty[poverty.Race == 'Asian'].index
poverty.drop(index_Asian, inplace = True)
poverty.Race.unique()
#Drop original Pacific Islander Rows
index_Pacific = poverty[poverty.Race == 'Pacific Islander'].index
poverty.drop(index_Pacific, inplace = True)

In [2514]:
#What are the unique races now? 
poverty.Race.unique()

array(['White', 'Hispanic', 'Black', 'Multiracial', 'Native American',
       'Asian and Pacific Islander'], dtype=object)

In [2515]:
#Calculate Percentage Column

In [2516]:
#Total Poverty Population for All Races Per Year

yearlist = [2013, 2014, 2015, 2016, 2017]

for Y in yearlist:
    V = poverty[poverty.Year == Y].PovertyPopulation.sum()
    print(Y,':', V, ',', end =' ')

2013 : 57986793 , 2014 : 57435263 , 2015 : 55025623 , 2016 : 52446875 , 2017 : 50459684 ,

In [2517]:
#Create a Dictionary for Years
Yeardict = {0 : 2013 , 1 : 2014 , 2 : 2015 , 3 : 2016 , 4 : 2017}

In [2518]:
Sum3 = {2013 : 57986793 , 2014 : 57435263 , 2015 : 55025623 , 2016 : 52446875 , 2017 : 50459684}

In [2519]:
poverty.Race.unique()

array(['White', 'Hispanic', 'Black', 'Multiracial', 'Native American',
       'Asian and Pacific Islander'], dtype=object)

In [2520]:
racelist = ['White', 'Hispanic', 'Black', 'Multiracial', 'Native American',
       'Asian and Pacific Islander']

In [2521]:
#Sort Poverty Data Frame Values
poverty = poverty.sort_values(by=['Year','Race',], ascending=True)

In [2522]:
#Create a function, using the dictionary, to calculate percentages 
yearlist3 = [2013, 2014, 2015, 2016, 2017]
percentages3 = []
for Y in yearlist3:
    percentages3.append(poverty[poverty.Year == Y].PovertyPopulation/Sum3[Y])
P3 = np.array(percentages3).reshape(30,1)
P3 = P3*100

In [2523]:
poverty['PercentofTotalPovertyPopulation'] = P3

In [2524]:
poverty.PercentofTotalPovertyPopulation = poverty.PercentofTotalPovertyPopulation.astype('float64')
poverty.info('columns')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 35 to 4
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Race                             30 non-null     object
 1   Year                             30 non-null     int64
 2   PovertyPopulation                30 non-null     int64
 3   PercentofTotalPovertyPopulation  30 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.2+ KB

In [2525]:
#Round Percent Values
poverty['PercentofTotalPovertyPopulation'] = poverty['PercentofTotalPovertyPopulation'].round(2)

In [2526]:
#Change Column Names Again For Export to be joined with other dataframes in SQL
poverty.columns = ['Race', 'Year','Poverty Population', 'Percent of Total Poverty Population']

In [2527]:
poverty

,Race,Year,Poverty Population,Percent of Total Poverty Population
35,Asian and Pacific Islander,2013,2104260,3.63
10,Black,2013,10538290,18.17
5,Hispanic,2013,13089210,22.57
21,Multiracial,2013,1847715,3.19
26,Native American,2013,706256,1.22
0,White,2013,29701062,51.22
36,Asian and Pacific Islander,2014,2161429,3.76
11,Black,2014,10434389,18.17
6,Hispanic,2014,13079584,22.77
20,Multiracial,2014,1855585,3.23
25,Native American,2014,710293,1.24
1,White,2014,29193983,50.83
37,Asian and Pacific Islander,2015,2138900,3.89
12,Black,2015,9905872,18.00
7,Hispanic,2015,12505613,22.73
23,Multiracial,2015,1782109,3.24
29,Native American,2015,665980,1.21
2,White,2015,28027149,50.93
38,Asian and Pacific Islander,2016,2131250,4.06
13,Black,2016,9366792,17.86
8,Hispanic,2016,11814468,22.53
22,Multiracial,2016,1801745,3.44
27,Native American,2016,679202,1.30
3,White,2016,26653418,50.82
39,Asian and Pacific Islander,2017,2083675,4.13
14,Black,2017,9122033,18.08
9,Hispanic,2017,11173521,22.14
24,Multiracial,2017,1741395,3.45
28,Native American,2017,670571,1.33
4,White,2017,25668489,50.87

---

---

In [2528]:
#Final Data Frames vs Original Raw Data Frames

In [2529]:
#Raw education data
educationraw

,ID IPEDS Race,IPEDS Race,ID Year,Year,Completions,Geography,ID Geography,Slug Geography,share
0,asian,Asian,2017,2017,298112,United States,01000US,united-states,0.061655
1,black,Black or African American,2017,2017,576612,United States,01000US,united-states,0.119254
2,hawaiian,Native Hawaiian or Other Pacific Islanders,2017,2017,14034,United States,01000US,united-states,0.002902
3,hispanic,Hispanic or Latino,2017,2017,786273,United States,01000US,united-states,0.162616
4,multiracial,Two or More Races,2017,2017,141479,United States,01000US,united-states,0.029260
5,native,American Indian or Alaska Native,2017,2017,33272,United States,01000US,united-states,0.006881
6,unknown,Unknown,2017,2017,220035,United States,01000US,united-states,0.045507
7,white,White,2017,2017,2765344,United States,01000US,united-states,0.571924
8,asian,Asian,2016,2016,284589,United States,01000US,united-states,0.059460
9,black,Black or African American,2016,2016,576255,United States,01000US,united-states,0.120399
10,hawaiian,Native Hawaiian or Other Pacific Islanders,2016,2016,13976,United States,01000US,united-states,0.002920
11,hispanic,Hispanic or Latino,2016,2016,740025,United States,01000US,united-states,0.154616
12,multiracial,Two or More Races,2016,2016,132024,United States,01000US,united-states,0.027584
13,native,American Indian or Alaska Native,2016,2016,33193,United States,01000US,united-states,0.006935
14,unknown,Unknown,2016,2016,238703,United States,01000US,united-states,0.049873
15,white,White,2016,2016,2767440,United States,01000US,united-states,0.578212
16,asian,Asian,2015,2015,273957,United States,01000US,united-states,0.057770
17,black,Black or African American,2015,2015,573638,United States,01000US,united-states,0.120964
18,hawaiian,Native Hawaiian or Other Pacific Islanders,2015,2015,14420,United States,01000US,united-states,0.003041
19,hispanic,Hispanic or Latino,2015,2015,687513,United States,01000US,united-states,0.144977
20,multiracial,Two or More Races,2015,2015,116276,United States,01000US,united-states,0.024519
21,native,American Indian or Alaska Native,2015,2015,33936,United States,01000US,united-states,0.007156
22,unknown,Unknown,2015,2015,252299,United States,01000US,united-states,0.053203
23,white,White,2015,2015,2790167,United States,01000US,united-states,0.588369
24,asian,Asian,2014,2014,264271,United States,01000US,united-states,0.056585
25,black,Black or African American,2014,2014,556705,United States,01000US,united-states,0.119201
26,hawaiian,Native Hawaiian or Other Pacific Islanders,2014,2014,14788,United States,01000US,united-states,0.003166
27,hispanic,Hispanic or Latino,2014,2014,638188,United States,01000US,united-states,0.136648
28,multiracial,Two or More Races,2014,2014,99685,United States,01000US,united-states,0.021344
29,native,American Indian or Alaska Native,2014,2014,34050,United States,01000US,united-states,0.007291
30,unknown,Unknown,2014,2014,270672,United States,01000US,united-states,0.057956
31,white,White,2014,2014,2791956,United States,01000US,united-states,0.597809
32,asian,Asian,2013,2013,257662,United States,01000US,united-states,0.056985
33,black,Black or African American,2013,2013,529285,United States,01000US,united-states,0.117059
34,hawaiian,Native Hawaiian or Other Pacific Islanders,2013,2013,14418,United States,01000US,united-states,0.003189
35,hispanic,Hispanic or Latino,2013,2013,589993,United States,01000US,united-states,0.130485
36,multiracial,Two or More Races,2013,2013,78724,United States,01000US,united-states,0.017411
37,native,American Indian or Alaska Native,2013,2013,34147,United States,01000US,united-states,0.007552
38,unknown,Unknown,2013,2013,263664,United States,01000US,united-states,0.058313
39,white,White,2013,2013,2753647,United States,01000US,united-states,0.609006
40,asian,Asian,2012,2012,248208,United States,01000US,united-states,0.055863
41,black,Black or African American,2012,2012,516275,United States,01000US,united-states,0.116195
42,hawaiian,Native Hawaiian or Other Pacific Islanders,2012,2012,13635,United States,01000US,united-states,0.003069
43,hispanic,Hispanic or Latino,2012,2012,550949,United States,01000US,united-states,0.123999
44,multiracial,Two or More Races,2012,2012,61313,United States,01000US,united-states,0.013799
45,native,American Indian or Alaska Native,2012,2012,33366,United States,01000US,united-states,0.007510
46,unknown,Unknown,2012,2012,291882,United States,01000US,united-states,0.065692
47,white,White,2012,2012,2727541,United States,01000US,united-states,0.613873

In [2530]:
#Final Cleaned and Mined education data 
education

,Race,Year,Degrees Completed,Percent of Total Degrees
39,Asian and Pacific Islander,2013,272080,6.39
29,Black,2013,529285,12.43
31,Hispanic,2013,589993,13.86
32,Multiracial,2013,78724,1.85
33,Native American,2013,34147,0.80
34,White,2013,2753647,64.67
38,Asian and Pacific Islander,2014,279059,6.34
22,Black,2014,556705,12.65
24,Hispanic,2014,638188,14.51
25,Multiracial,2014,99685,2.27
26,Native American,2014,34050,0.77
27,White,2014,2791956,63.46
37,Asian and Pacific Islander,2015,288377,6.42
15,Black,2015,573638,12.78
17,Hispanic,2015,687513,15.31
18,Multiracial,2015,116276,2.59
19,Native American,2015,33936,0.76
20,White,2015,2790167,62.14
36,Asian and Pacific Islander,2016,298565,6.57
8,Black,2016,576255,12.67
10,Hispanic,2016,740025,16.27
11,Multiracial,2016,132024,2.90
12,Native American,2016,33193,0.73
13,White,2016,2767440,60.86
35,Asian and Pacific Islander,2017,312146,6.76
1,Black,2017,576612,12.49
3,Hispanic,2017,786273,17.04
4,Multiracial,2017,141479,3.07
5,Native American,2017,33272,0.72
6,White,2017,2765344,59.92

---

In [2539]:
#Raw Children in Single Parent Homes Data
singleparentkidsraw

,LocationType,Location,Race,Year,DataFormat,TotalChildren
0,Nation,United States,American Indian,2005,Percent,0.49
1,Nation,United States,Asian and Pacific Islander,2005,Percent,0.17
2,Nation,United States,Black or African American,2005,Percent,0.65
3,Nation,United States,Hispanic or Latino,2005,Percent,0.36
4,Nation,United States,Non-Hispanic White,2005,Percent,0.23
...,...,...,...,...,...,...
11077,Territory,Puerto Rico,Non-Hispanic White,2019,Number,S
11078,Territory,Puerto Rico,Hispanic or Latino,2019,Number,341000
11079,Territory,Puerto Rico,Black or African American,2019,Number,44000
11080,Territory,Puerto Rico,Asian and Pacific Islander,2019,Number,S
11081,Territory,Puerto Rico,American Indian,2019,Number,S

In [2532]:
#Final Cleaned and Mined Children in Single Parent Homes Data Frame 
singleparentkids

,Race,Year,Number of Children (Single Parent Homes),Percent of Total Children (Single Parent Homes)
63,Native American,2013,329000,1.30
64,Asian and Pacific Islander,2013,557000,2.19
65,Black,2013,6427000,25.30
66,Hispanic,2013,7044000,27.73
67,White,2013,9289000,36.57
68,Multiracial,2013,1758000,6.92
154,Native American,2014,341000,1.34
155,Asian and Pacific Islander,2014,578000,2.27
156,Black,2014,6382000,25.06
157,Hispanic,2014,7190000,28.23
158,White,2014,9181000,36.05
159,Multiracial,2014,1797000,7.06
132,Native American,2015,333000,1.32
131,Asian and Pacific Islander,2015,568000,2.25
130,Black,2015,6333000,25.12
129,Hispanic,2015,7180000,28.47
128,White,2015,8998000,35.68
127,Multiracial,2015,1804000,7.15
181,Native American,2016,339000,1.35
180,Asian and Pacific Islander,2016,572000,2.28
179,Black,2016,6281000,25.04
178,Hispanic,2016,7230000,28.82
177,White,2016,8766000,34.94
176,Multiracial,2016,1900000,7.57
188,Native American,2017,351000,1.41
187,Asian and Pacific Islander,2017,556000,2.24
186,Black,2017,6123000,24.67
185,Hispanic,2017,7283000,29.34
184,White,2017,8623000,34.74
183,Multiracial,2017,1887000,7.60

---

In [2533]:
#Raw Poverty Population by Race Data
povertyraw

,ID Race,Race,ID Year,Year,ID Poverty Status,Poverty Status,Poverty Population,Poverty Population Margin of Error(Moe),Geography,ID Geography,Slug Geography,share
0,1,White,2013,2013,0,Income In The Past 12 Months Below Poverty Level,29701062,97115.895530,United States,01000US,united-states,0.479823
1,1,White,2014,2014,0,Income In The Past 12 Months Below Poverty Level,29193983,92676.176460,United States,01000US,united-states,0.476341
2,1,White,2015,2015,0,Income In The Past 12 Months Below Poverty Level,28027149,95135.243000,United States,01000US,united-states,0.477800
3,1,White,2016,2016,0,Income In The Past 12 Months Below Poverty Level,26653418,92998.998830,United States,01000US,united-states,0.475246
4,1,White,2017,2017,0,Income In The Past 12 Months Below Poverty Level,25668489,89754.419970,United States,01000US,united-states,0.477490
5,1,White,2018,2018,0,Income In The Past 12 Months Below Poverty Level,25230693,90255.224380,United States,01000US,united-states,0.477151
6,9,Hispanic,2013,2013,0,Income In The Past 12 Months Below Poverty Level,13089210,60768.446300,United States,01000US,united-states,0.211457
7,9,Hispanic,2014,2014,0,Income In The Past 12 Months Below Poverty Level,13079584,60525.658200,United States,01000US,united-states,0.213412
8,9,Hispanic,2015,2015,0,Income In The Past 12 Months Below Poverty Level,12505613,63334.284890,United States,01000US,united-states,0.213193
9,9,Hispanic,2016,2016,0,Income In The Past 12 Months Below Poverty Level,11814468,61008.833560,United States,01000US,united-states,0.210659
10,9,Hispanic,2017,2017,0,Income In The Past 12 Months Below Poverty Level,11173521,60557.196800,United States,01000US,united-states,0.207852
11,9,Hispanic,2018,2018,0,Income In The Past 12 Months Below Poverty Level,11025445,64930.124110,United States,01000US,united-states,0.208508
12,2,Black,2013,2013,0,Income In The Past 12 Months Below Poverty Level,10538290,54162.147670,United States,01000US,united-states,0.170247
13,2,Black,2014,2014,0,Income In The Past 12 Months Below Poverty Level,10434389,55886.169110,United States,01000US,united-states,0.170252
14,2,Black,2015,2015,0,Income In The Past 12 Months Below Poverty Level,9905872,55994.616540,United States,01000US,united-states,0.168873
15,2,Black,2016,2016,0,Income In The Past 12 Months Below Poverty Level,9366792,55843.164860,United States,01000US,united-states,0.167015
16,2,Black,2017,2017,0,Income In The Past 12 Months Below Poverty Level,9122033,58930.514780,United States,01000US,united-states,0.169690
17,2,Black,2018,2018,0,Income In The Past 12 Months Below Poverty Level,8971239,58040.756140,United States,01000US,united-states,0.169660
18,6,Other,2013,2013,0,Income In The Past 12 Months Below Poverty Level,3913285,37953.370760,United States,01000US,united-states,0.063219
19,6,Other,2014,2014,0,Income In The Past 12 Months Below Poverty Level,3852708,34912.027150,United States,01000US,united-states,0.062862
20,6,Other,2016,2016,0,Income In The Past 12 Months Below Poverty Level,3636589,36473.785010,United States,01000US,united-states,0.064842
21,6,Other,2015,2015,0,Income In The Past 12 Months Below Poverty Level,3633067,35206.187130,United States,01000US,united-states,0.061936
22,6,Other,2017,2017,0,Income In The Past 12 Months Below Poverty Level,3297488,35802.858130,United States,01000US,united-states,0.061340
23,6,Other,2018,2018,0,Income In The Past 12 Months Below Poverty Level,3211683,36561.480810,United States,01000US,united-states,0.060738
24,4,Asian,2014,2014,0,Income In The Past 12 Months Below Poverty Level,2048589,24063.112990,United States,01000US,united-states,0.033426
25,4,Asian,2015,2015,0,Income In The Past 12 Months Below Poverty Level,2037183,23934.671320,United States,01000US,united-states,0.034729
26,4,Asian,2016,2016,0,Income In The Past 12 Months Below Poverty Level,2026897,24268.235970,United States,01000US,united-states,0.036141
27,4,Asian,2013,2013,0,Income In The Past 12 Months Below Poverty Level,2002107,24052.733980,United States,01000US,united-states,0.032344
28,4,Asian,2017,2017,0,Income In The Past 12 Months Below Poverty Level,1975913,25155.367800,United States,01000US,united-states,0.036756
29,4,Asian,2018,2018,0,Income In The Past 12 Months Below Poverty Level,1957779,25319.865070,United States,01000US,united-states,0.037025
30,7,Two Or More,2014,2014,0,Income In The Past 12 Months Below Poverty Level,1855585,23913.116460,United States,01000US,united-states,0.030276
31,7,Two Or More,2013,2013,0,Income In The Past 12 Months Below Poverty Level,1847715,24310.483970,United States,01000US,united-states,0.029850
32,7,Two Or More,2016,2016,0,Income In The Past 12 Months Below Poverty Level,1801745,24964.943820,United States,01000US,united-states,0.032126
33,7,Two Or More,2015,2015,0,Income In The Past 12 Months Below Poverty Level,1782109,23752.483300,United States,01000US,united-states,0.030381
34,7,Two Or More,2017,2017,0,Income In The Past 12 Months Below Poverty Level,1741395,24587.959110,United States,01000US,united-states,0.032394
35,7,Two Or More,2018,2018,0,Income In The Past 12 Months Below Poverty Level,1739271,25307.417410,United States,01000US,united-states,0.032892
36,3,Native American,2014,2014,0,Income In The Past 12 Months Below Poverty Level,710293,12070.178950,United States,01000US,united-states,0.011589
37,3,Native American,2013,2013,0,Income In The Past 12 Months Below Poverty Level,706256,11663.144340,United States,01000US,united-states,0.011410
38,3,Native American,2016,2016,0,Income In The Past 12 Months Below Poverty Level,679202,12328.646030,United States,01000US,united-states,0.012111
39,3,Native American,2017,2017,0,Income In The Past 12 Months Below Poverty Level,670571,12211.456380,United States,01000US,united-states,0.012474
40,3,Native American,2015,2015,0,Income In The Past 12 Months Below Poverty Level,665980,11763.899860,United States,01000US,united-states,0.011353
41,3,Native American,2018,2018,0,Income In The Past 12 Months Below Poverty Level,640066,12403.676190,United States,01000US,united-states,0.012105
42,5,Pacific Islander,2014,2014,0,Income In The Past 12 Months Below Poverty Level,112840,5756.902379,United States,01000US,united-states,0.001841
43,5,Pacific Islander,2017,2017,0,Income In The Past 12 Months Below Poverty Level,107762,6045.481619,United States,01000US,united-states,0.002005
44,5,Pacific Islander,2016,2016,0,Income In The Past 12 Months Below Poverty Level,104353,5774.867011,United States,01000US,united-states,0.001861
45,5,Pacific Islander,2013,2013,0,Income In The Past 12 Months Below Poverty Level,102153,5402.719593,United States,01000US,united-states,0.001650
46,5,Pacific Islander,2015,2015,0,Income In The Past 12 Months Below Poverty Level,101717,5681.786603,United States,01000US,united-states,0.001734
47,5,Pacific Islander,2018,2018,0,Income In The Past 12 Months Below Poverty Level,101584,6289.814703,United States,01000US,united-states,0.001921

In [2534]:
#Final Cleaned and Mined Poverty Population by Race Data Frame 
poverty

,Race,Year,Poverty Population,Percent of Total Poverty Population
35,Asian and Pacific Islander,2013,2104260,3.63
10,Black,2013,10538290,18.17
5,Hispanic,2013,13089210,22.57
21,Multiracial,2013,1847715,3.19
26,Native American,2013,706256,1.22
0,White,2013,29701062,51.22
36,Asian and Pacific Islander,2014,2161429,3.76
11,Black,2014,10434389,18.17
6,Hispanic,2014,13079584,22.77
20,Multiracial,2014,1855585,3.23
25,Native American,2014,710293,1.24
1,White,2014,29193983,50.83
37,Asian and Pacific Islander,2015,2138900,3.89
12,Black,2015,9905872,18.00
7,Hispanic,2015,12505613,22.73
23,Multiracial,2015,1782109,3.24
29,Native American,2015,665980,1.21
2,White,2015,28027149,50.93
38,Asian and Pacific Islander,2016,2131250,4.06
13,Black,2016,9366792,17.86
8,Hispanic,2016,11814468,22.53
22,Multiracial,2016,1801745,3.44
27,Native American,2016,679202,1.30
3,White,2016,26653418,50.82
39,Asian and Pacific Islander,2017,2083675,4.13
14,Black,2017,9122033,18.08
9,Hispanic,2017,11173521,22.14
24,Multiracial,2017,1741395,3.45
28,Native American,2017,670571,1.33
4,White,2017,25668489,50.87

---

---

In [2535]:
#Export Data Frames as CSVs

In [2536]:
#Export Final Education Data Frame as a CSV
#education.to_csv('C:\\Users\zara\Documents/Data Science Portfolio_Zara Clacken/Created CSV Files/Degrees_Completed_By_Race.csv')

In [2537]:
#Export Final Single Parent Kids Data Frame as a CSV
#singleparentkids.to_csv('C:\\Users\zara\Documents/Data Science Portfolio_Zara Clacken/Created CSV Files/Single_Parent_Children_By_Race.csv')

In [2538]:
#Export Final Poverty Data Frame as CSV 
#poverty.to_csv('C:\\Users\zara\Documents/Data Science Portfolio_Zara Clacken/Created CSV Files/Poverty_By_Race.csv')